* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        font-family: Arial, sans-serif;

        .section1 {
            background-image: url("assets/section1/bc.png");
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                background-color: rgba(99, 96, 96, 0.4);
                padding: 40px;
                text-align: center;
                border: 20px solid #008cff;
                width: 40%;
                height: 70%;

                h1 {
                    font-size: 3.5em;
                    color: white;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 1.8em;
                    color: rgb(245, 237, 237);
                    margin-bottom: 25px;
                }

                .btn {
                    padding: 10px 20px;
                    background-color: #008cff;
                    color: white;
                    text-decoration: none;
                    border-radius: 5px;
                    transition: background-color 0.3s ease;
                }

                .btn:hover {
                    background-color: #005bb5;
                }
            }
        }


        .section2 {
            padding: 60px 20px;
            background-color: #f9f9f9;

            .container2 {
                margin: auto 200px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .about-text {
                    max-width: 30%;

                    h2 {
                        font-size: 2.5em;
                        margin-bottom: 20px;
                        color: #333;
                    }

                    p {
                        font-size: 1.2em;
                        color: #666;
                        line-height: 1.6;
                        margin-bottom: 20px;

                        strong {
                            font-weight: bold;
                        }
                    }
                }

                .features {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    max-width: 60%;

                    .feature {
                        display: flex;
                        align-items: flex-start;
                        gap: 20px;

                        .icon {
                            width: 150px;
                            height: 50px;
                            background-color: #008cff;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 30px;
                                height: 30px;
                            }
                        }

                        h3 {
                            font-size: 1.5em;
                            color: #333;
                            margin-bottom: 10px;
                        }

                        p {
                            font-size: 1em;
                            color: #666;
                            line-height: 1.6;
                        }
                    }
                }
            }
        }


        .section3 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: url('assets/section3/bc.png') no-repeat center center;
            background-size: cover;
            padding: 20px;
        
            .card {
                background: white;
                border-radius: 8px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                text-align: center;
                padding: 20px;
                width: 30%;
                margin: 10px;
        
                .icon {
                    width: 50px;
                    height: 50px;
                    margin: 0 auto 20px auto;
                    background-color: #007bff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    i {
                        color: white;
                        font-size: 24px;
                    }
                }
        
                h3 {
                    color: #333;
                    margin-bottom: 10px;
                }
        
                p {
                    color: #666;
                }
            }
        }

        
        .section4 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            background-color: #f9f9f9;
        
            .content {
                max-width: 30%;
                text-align: left;
        
                h2 {
                    font-size: 2em;
                    color: #333;
                    margin-bottom: 20px;
                }
        
                p {
                    font-size: 1em;
                    color: #666;
                    line-height: 1.5;
                    margin-bottom: 20px;
                }
        
                .btn {
                    background-color: #007bff;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 1em;
                    border-radius: 5px;
                    cursor: pointer;
        
                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }
        
            .image {
                max-width: 30%;
        
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }
        }
        
        
        .section5 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            background-color: #f9f9f9;
        
            .image {
                flex: 1;
                max-width: 40%;
                
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }
        
            .content {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px; // space between profiles
                padding-left: 30px;
        
                .profile {
                    max-width: 40%;

                    .name {
                        background-color: #007bff;
                        color: white;
                        padding: 30px;
                        border-radius: 5px;
                        font-size: 1.5em;
                        margin-bottom: 30px;
                    }
        
                    .title {
                        font-weight: bold;
                        margin-top: 5px;
                        margin-bottom: 15px;
                        font-size: 1.2em;
                        color: #333;
                    }
        
                    p {
                        font-size: 1em;
                        color: #666;
                        line-height: 1.6;
                        margin-bottom: 0;
                    }
                }
            }
        }
        
        
        .section6 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            background-color: #f3f3f3;
        
            .container {
                background: white;
                padding: 30px;
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;
                max-width: 900px;
                width: 100%;
        
                .icon-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 30px;
        
                    .icon {
                        background-color: #007bff;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;
        
                        i {
                            color: white;
                            font-size: 16px;
                        }
                    }
        
                    img {
                        max-width: 300px;
                        height: auto;
                        border-radius: 50%;
                        background-position: center;
                    }
                }
        
                .content {
                    flex: 1;
                    text-align: left;
        
                    p {
                        font-size: 1.2em;
                        margin-bottom: 10px;
                        color: #333;
                    }
        
                    span {
                        display: block;
                        margin-bottom: 20px;
                        color: #777;
                        a {
                            color: #007bff;
                            text-decoration: none;
                        }
                    }
        
                    .phone-number {
                        font-size: 1.5em;
                        font-weight: bold;
                        color: #007bff;
                        display: flex;
                        align-items: center;
        
                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        

        @media (max-width: 480px) {
            .section1 .container {
                width: 90%;
                height: auto;
                padding: 10px;
        
                h1 {
                    font-size: 2em;
                }
        
                p {
                    font-size: 1em;
                }
        
                .btn {
                    padding: 8px 10px;
                    font-size: 0.8em;
                }
            }
        
            .section2 .container2 {
                margin: 0 10px;
                flex-direction: column;
                align-items: flex-start;
        
                .about-text, .features {
                    max-width: 100%;
                }
        
                .features {
                    margin-top: 20px;
                }
        
                .features .feature .icon {
                    width: 180px;
                    height: 40px;
                }
        
                .features .feature img {
                    width: 15px;
                    height: 15px;
                }
            }
        
            .section3 {
                flex-direction: column;
                align-items: center;
                padding: 10px;
        
                .card {
                    width: 100%;
                    margin: 10px 0;
                }
            }
        
            .section4 {
                flex-direction: column;
                padding: 30px;
        
                .content, .image {
                    max-width: 100%;
                    padding: 0;
                    margin-bottom: 20px;
                }
        
                .content h2 {
                    font-size: 1.5em;
                }
        
                .content p {
                    font-size: 0.9em;
                }
        
                .content .btn {
                    padding: 8px 10px;
                    font-size: 0.8em;
                }
            }
        
            .section5 {
                flex-direction: column;
                padding: 20px;
        
                .image {
                    max-width: 100%;
                    margin-bottom: 20px;
                }
        
                .content {
                    padding-left: 0;
                    align-items: flex-start;
        
                    .profile {
                        max-width: 100%;
                        padding: 20px;
        
                        .name {
                            padding: 20px;
                            font-size: 1.2em;
                        }
                    }
                }
            }
        
            .section6 {
                padding: 20px;
        
                .container {
                    flex-direction: column;
                    padding: 15px;
        
                    .icon-container {
                        margin-right: 0;
                        margin-bottom: 20px;
        
                        .icon {
                            width: 60px;
                            height: 60px;
        
                            i {
                                font-size: 24px;
                            }
                        }
        
                        img {
                            max-width: 100%;
                            height: auto;
                            border-radius: 50%;
                        }
                    }
        
                    .content {
                        text-align: center;
        
                        p {
                            font-size: 1em;
                        }
        
                        span {
                            margin-bottom: 10px;
                        }
        
                        .phone-number {
                            font-size: 1.2em;
                            justify-content: center;
                        }
                    }
                }
            }
        }
        
    }
}
